/* ==== Base Reset ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* For tablets */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

/* For phones */
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

button, a, input, textarea, select {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  background: #007bff;
  color: #fff;
  padding: 0.6em 0.8em;
  display: flex;
  align-items: center;
  gap: 0 1em;
}

.header-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

header p {
  font-weight: 500;
  font-size: 1rem;
}

main .container {
  background: #fff;
  display: contents;
}

form#designForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.8em;
  background: #fff;
  overflow-y: auto;
  border-radius: 0.5em;
}

.input-row {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
}

.input-row label {
  width: 50%;
  font-weight: 600;
  font-size: 1rem;
}

.input-row input,
.input-row select {
  background: #f4f4fa;
  width: 50%;
  flex: 1;
  padding: 10px 14px;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  transition: border-color 0.3s ease;
}

.input-row input:focus,
.input-row select:focus {
  outline: none;
  border-color: orangered;
}

.button-group {
  display: block;
  align-items: center;
}

.btn-submit {
  padding: 8px 10px;
  font-weight: 500;
  font-size: 1em;
  margin: 0 4px 0 0;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
background: #0056b3;
}

.btn-reset {
  background: #007bff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  padding: 8px 10px;
  transition: background-color 0.3s ease;
}

.plan-info-section {
  width: 100%;
  padding: 1em 0 0 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5em
}

#error {
  display: inline-flex;
  color: red;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1em;
}

#planOutput {
  white-space: pre-wrap;
  background: #fff;
  padding: 0em 0.4em 0;
  font-family: Consolas, monospace;
  font-size: 1rem;
  color: #000;
  overflow-y: auto;
}

footer {
  text-align: center;
  padding: 14px 0;
  font-size: 0.8em;
  color: #000;
  background: #f4f4fa;
  user-select: none;
  margin-top: auto;
}

#roomInputsWrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

#roomInputs {
  display: inline-flex;
  gap: 1em;
}

.room {
  display: inline-flex;
  flex-direction: column;
  width: 160px;
  background: #fff;
  padding: 0.4em 0 0.4em 0;
  border-radius: 12px;
  font-weight: 600;
  color: #000;
  box-sizing: border-box;
  gap: 0.6em;
  white-space: normal;
}

.room label {
  font-size: 0.95rem;
}

.room select,
.room input[type="number"] {
  background: #f4f4fa;
  padding: 8px 10px;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.room select:focus,
.room input[type="number"]:focus {
  border-color: orangered;
  outline: none;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: #fff;
}

.menu-logo {
  height: 2em;
  width: 2em;
  margin-right: 10px;
}

.menu-header h3,
.header-left h3 {
  color: #000;
  font-size: 1.2em;
  margin: 0 0 0 0.6em;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
}

.side-menu a {
  padding: 12px 20px;
  text-decoration: none;
  font-size: 1.1em;
  color: #000;
  display: block;
  transition: 0.2s;
  margin: 0.2em;
  border-radius: 2em;
}
.side-menu a:hover {
  background: #007bff;
  color: #fff;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: none;
  z-index: 1000;
}

.side-menu a i {
  margin-right: 1.4em;
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -260px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
  z-index: 1100;
}

.menu-links {
  flex-grow: 1;
}

.menu-footer {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.menu-footer a {
  padding: 12px 20px;
  font-size: 1em;
  color: #000;
  display: block;
  transition: 0.2s;
  margin: 0.2em;
  border-radius: 2em;
}

.menu-footer a:hover {
  background: #007bff;
  color: #fff;
}
